In [1]:
import pandas as pd

import matplotlib.pyplot as plt

In [2]:
housing_data = pd.read_csv('housing.csv')

housing_data.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
10060,-121.06,39.25,17.0,3127.0,539.0,1390.0,520.0,3.9537,172800.0,INLAND
237,-122.20,37.79,44.0,1621.0,452.0,1354.0,491.0,2.6190,134700.0,NEAR BAY
12541,-121.49,38.56,52.0,1777.0,368.0,624.0,350.0,3.6729,137800.0,INLAND
6595,-118.15,34.18,46.0,2230.0,488.0,1985.0,456.0,2.2328,142100.0,<1H OCEAN
12103,-117.33,33.98,52.0,1417.0,353.0,881.0,300.0,1.9531,162500.0,INLAND

In [3]:
housing_data = housing_data.dropna()

In [4]:
housing_data.shape

(20433, 10)

In [5]:
housing_data.loc[housing_data['median_house_value'] == 500001].count()

longitude             958
latitude              958
housing_median_age    958
total_rooms           958
total_bedrooms        958
population            958
households            958
median_income         958
median_house_value    958
ocean_proximity       958
dtype: int64

In [6]:
housing_data = housing_data.drop(housing_data.loc[housing_data['median_house_value'] == 500001].index)

In [7]:
housing_data.shape

(19475, 10)

In [8]:
housing_data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [9]:
housing_data['ocean_proximity'].unique()

array(['NEAR BAY', '<1H OCEAN', 'INLAND', 'NEAR OCEAN', 'ISLAND'],
      dtype=object)

In [10]:
housing_data = pd.get_dummies(housing_data, columns=['ocean_proximity'])

In [11]:
housing_data.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
12125,-117.24,33.93,12.0,7105.0,1447.0,4520.0,1333.0,3.2705,113200.0,0,1,0,0,0
16250,-121.27,37.97,39.0,1023.0,243.0,550.0,224.0,1.1141,54400.0,0,1,0,0,0
19651,-120.87,37.50,7.0,4966.0,985.0,2431.0,904.0,3.1042,122500.0,0,1,0,0,0
15096,-116.96,32.81,8.0,2378.0,638.0,1410.0,623.0,2.9097,152500.0,1,0,0,0,0
14648,-117.19,32.77,14.0,3575.0,992.0,1645.0,839.0,2.4397,140600.0,0,0,0,0,1

In [12]:
housing_data.shape

(19475, 14)

In [13]:
median = housing_data['median_house_value'].median()

median

173800.0

In [15]:
housing_data['above_median'] = (housing_data['median_house_value'] - median) > 0

In [16]:
housing_data.sample(5)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN,above_median
7929,-118.08,33.84,28.0,4216.0,948.0,2997.0,896.0,3.7961,162700.0,1,0,0,0,0,False
3666,-118.38,34.24,38.0,125.0,42.0,63.0,29.0,1.3594,158300.0,1,0,0,0,0,False
16101,-122.51,37.76,40.0,2320.0,562.0,1499.0,521.0,3.2792,260800.0,0,0,0,0,1,True
4633,-118.29,34.07,24.0,4021.0,1707.0,3727.0,1529.0,1.7365,112500.0,1,0,0,0,0,False
269,-122.19,37.78,52.0,2198.0,397.0,984.0,369.0,3.2200,156500.0,0,0,0,1,0,False

In [17]:
X = housing_data.drop(['median_house_value', 'above_median'], axis=1)
Y = housing_data['above_median']

In [18]:
X.columns

Index(['longitude', 'latitude', 'housing_median_age', 'total_rooms',
       'total_bedrooms', 'population', 'households', 'median_income',
       'ocean_proximity_<1H OCEAN', 'ocean_proximity_INLAND',
       'ocean_proximity_ISLAND', 'ocean_proximity_NEAR BAY',
       'ocean_proximity_NEAR OCEAN'],
      dtype='object')

In [19]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.2)

In [20]:
x_train.shape, x_test.shape

((15580, 13), (3895, 13))

In [21]:
y_train.shape, y_test.shape

((15580,), (3895,))

In [22]:
from sklearn.linear_model import LogisticRegression

logistic_model = LogisticRegression(solver='liblinear').fit(x_train, y_train)

In [23]:
print("Training score : ", logistic_model.score(x_train, y_train))

Training score :  0.8188703465982028

In [24]:
y_pred = logistic_model.predict(x_test)

In [25]:
df_pred_actual = pd.DataFrame({'predicted': y_pred, 'actual': y_test})

df_pred_actual.head(10)

       predicted  actual
16325      False   False
1460        True    True
17374      False   False
10503       True    True
2123       False   False
13149      False    True
896         True    True
5433        True    True
4581       False    True
12512      False   False

In [26]:
from sklearn.metrics import accuracy_score

print("Testing score : ", accuracy_score(y_test, y_pred))

Testing score :  0.8287548138639281